 <% if @book.errors.any? %>
<div id=“error_explanation”>
  <h2><%= @book.errors.count %>errors prohibited this obj from being saved:</h2>
  <ul>
   <% @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
   <% end %>
  </ul>
<% end %>
</div>

<div class="flash">
<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "#{key}") %>
<% end %>
</div>

 <div class="container">
  <div class="row">
  <div class="col-xs-3">
    <h2>User info</h2>
        <%= attachment_image_tag @book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
    <table class='table table striped'>
        <tr>
            <th>name</th>
            <th><%= @book.user.name %></th>
        </tr>
        <tr>
            <th>Introduction</th>
            <th><%= @book.user.introduction %></th>
        </tr>
    </table>

    <% if @user.id == current_user.id %>
        <%= link_to "",edit_user_path(current_user.id), class:"col-xs-12 btn btn-default glyphicon glyphicon-wrench edit" %>
      <% else %>
        <%= link_to "",user_path(current_user), class:"col-xs-12 btn btn-default glyphicon glyphicon-wrench edit" %>
    <% end %>


  <h1>New book</h1>
    <%= form_for(@book_new) do |f| %>
  <h4>Title</h4>
    <%= f.text_field :title %>

    <h4>Opinion</h4>
    <%= f.text_area :body %>
  <input type="submit" name="commit" value="Create Book" class="btn btn-primary col-xs-9" data-disable-with="Create Book">
  <% end %>
</div>

<div class="col-xs-9">
    <table class='table table-hover table-inverse'>
    <h2>Book detail</h2>
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th colspan="3"></th>
      </tr>
    </thead>
  </tbody>
  <tbody>
      <tr>
        <td><span>
<td><%= link_to user_path(@book.user.id) do %>
<%= attachment_image_tag @book.user, :profile_image, :fill, 40, 40,fallback: "no_image.jpg" %><br>
<%= @book.user.name %>
</td>
<% end %></td>
        <td><%= @book.title %></td>
        <td><%= @book.body %></td>
       <% if current_user.id == @book.user_id %>
        <td><h4><span class="label label-success"><%= link_to "Edit", edit_book_path(@book.id) %></span></h4></td>
        <td><h4><span class="label label-danger"><%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" =>"Are you sure？" %></span></h4></td>
       <% else %>
        <td></td>
        <td></td>

       <% end %>
      </tr>
          </tbody>
      </table>
</div>
</div>
</div>
</div>

